@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1>@Model.UserServiceUrl</h1>
</div>

local users service http://95.73.93.217:5022/

<form method="post">
    <label>Users service url</label>
    <input name="usersServiceUrl" type="text" value="@Model.UserServiceUrl"/>
    <input type="submit"/>
</form>
